<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registrar Nueva Actividad</title>
  <link rel="stylesheet" href="/static/css/design.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
    <!-- Barra superior -->
    <header class="topbar">
      <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
      <div class="user-section">
        <i class="fas fa-user-circle"></i>
        <span class="user-name">User</span>
      </div>
    </header>

    <!-- Contenedor del formulario -->
  <main class="form-container">
    <form class="form-box">
      <h2>Registrar Nueva Actividad</h2>
      <div class="info">
        <p><strong>Régimen:</strong> IC-2025</p>
        <p><strong>Asignatura:</strong> [0413] - Programación Web</p>
        <p><strong>Grupo:</strong> Gpo 1 - IV AÑO</p>
      </div>

      <!-- Campos del formulario -->
      <label>Actividad *
        <input type="text" placeholder="Ejemplo: Tarea 1, Exposición 1" />
      </label>

      <label>Abreviatura (máx. 4 dígitos) *
        <input type="text" placeholder="Ejemplo: Tar1, Exp1" maxlength="4"/>
      </label>

      <label>Peso *
        <input type="text" placeholder="Ejemplo: 10pts"/>
      </label>

      <label>Tipo de Evaluación *
        <select>
          <option disabled selected>Seleccione una opción</option>
          <option>Tarea</option>
          <option>Examen</option>
          <option>Exposición</option>
          <option>Proyecto</option>
        </select>
      </label>

  