<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Calificaciones</title>
  <link rel="stylesheet" href="/static/css/diseño.css"/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>

<!-- Barra superior -->
<header class="topbar">
    <div class="menu-icon"><i class="fas fa-bars"></i></div>
    <div class="user-section">
      <i class="fas fa-user-circle"></i>
      <span>User</span>
    </div>
  </header>

   <!-- Contenedor general -->
   <main class="main-content">
    <section class="dashboard">
      <h2>Calificaciones</h2>
      <!-- Tarjetas de resumen -->
      <div class="cards">
        <div class="card"><p>Student<br><strong>50055</strong></p><i class="fas fa-user-graduate"></i></div>
        <div class="card"><p>Awards<br><strong>50+</strong></p><i class="fas fa-medal"></i></div>
        <div class="card"><p>Department<br><strong>30+</strong></p><i class="fas fa-building-columns"></i></div>
        <div class="card"><p>Semestre<br><strong>$505</strong></p><i class="fas fa-coins"></i></div>
      </div>

       <!-- Gráfico de notas -->
       <div class="chart-box">
        <h3>Resultados de notas</h3>
        <canvas id="gradeChart"></canvas>
      </div>

       <!-- Tabla y Actividad -->
       <div class="bottom-section">
        <div class="students-box">
          <h4>Lista de estudiantes</h4>
          <table>
            <thead>
              <tr><th>ID</th><th>Name</th><th>Mark</th><th>Percentage</th><th>Year</th></tr>
            </thead>
            <tbody>
              <tr><td>PRE2209</td><td>Julie Smith</td><td>1185</td><td>90%</td><td>2019</td></tr>
              <tr><td>PRE1245</td><td>Jude Hoskins</td><td>1199</td><td>95%</td><td>2018</td></tr>
              <tr><td>PRE1603</td><td>Pennington Joy</td><td>1180</td><td>99.8%</td><td>2017</td></tr>
              <tr><td>PRE2210</td><td>Millie Madsen</td><td>1156</td><td>90%</td><td>2016</td></tr>
              <tr><td>PRE2229</td><td>Julie Smith</td><td>1185</td><td>90%</td><td>2015</td></tr>
            </tbody>
          </table>
        </div>